[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
quart = "*"
websockets = "*"
pytest = "*"
"pyqt5" = "*"
docker = "*"
psutil = "*"
pyinstaller = "*"
"pywin32-ctypes" = "*"
passlib = "*"

[dev-packages]

[requires]
python_version = "3.7"
