<!DOCTYPE html>
<html lang="en">
{% include "parts/head.html" %}
<style>
    .send {
        background-color: blue;
    }

    .from-me {
        position: relative;
        padding: 10px 20px;
        color: white;
        background: #0B93F6;
        border-radius: 25px;
        float: right;
    }

    .from-them {
        position: relative;
        padding: 10px 20px;
        background: #E5E5EA;
        border-radius: 25px;
        color: black;
        float: left;
    }

    .break-text {
        word-wrap: break-word;
    }

</style>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {% include "parts/nav_bar.html" %}
    {% include "parts/sendbox.html" %}
    <main class="mdl-layout__content">
        <div class="container  break-text" id="display" style="margin-bottom: 150px;">
            {% include "parts/message_boxes.html" %}
        </div>
    </main>
</div>
</body>
<script>
    //let ws = new WebSocket('ws://' + document.domain + ':5678/ws');
    console.log(document.domain);
    let ws = new WebSocket(`ws://${document.domain}:${location.port}/ws/{{ room_id|string }}/{{ from_user|string}}/{{ to_user|string }}`);

    function sendMessage(msg) {
        let sendStr = {
            message: msg
        };
        ws.send(JSON.stringify(sendStr))
    }


    $("#sendBtn").click(function () {
        var text = $("#text-input").val();
        let modifiedText = "";
        let j = 0;
        sendMessage(text);
        for (let i = 1; i <= text.length; i++) {
            modifiedText += text[i - 1];
            j++;
            if (j * 12 > $(window).width() * 0.95) {
                modifiedText += "<br>";
                j = 0;
            }
        }
        $("#display").append(
            `
            <div class="d-flex flex-row-reverse bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    <div class="from-me">
                        ${modifiedText}
                    </div>
                </div>
            </div>
            `
        )
        $("#text-input").val("")
    });

    ws.onmessage = function (event) {
        console.log("Get");
        let modifiedText = "";
        let j = 0;
        for (let i = 1; i <= event.data.length; i++) {
            modifiedText += event.data[i - 1];
            j++;
            if (j * 12 > $(window).width() * 0.95) {
                modifiedText += "<br>";
                j = 0;
            }
        }
        $("#display").append(
            `
                <div class="d-flex flex-row bd-highlight">
                    <div class="p-2 bd-highlight">
                        <div class="from-them">
                        ${modifiedText}
                    </div>
                </div>
            </div>
            `
        )
    };

</script>
</html>