<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="/static/js/bootstrap-material-design.min.js"></script>
    <script src="/static/js/material-kit.js?v=2.0.0"></script>
    <link rel="stylesheet" href="/static/css/material-kit.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <meta charset="UTF-8">
    <title>Message</title>
</head>
<style>
    .send {
        background-color: blue;
    }

    .from-me {
        position: relative;
        padding: 10px 20px;
        color: white;
        background: #0B93F6;
        border-radius: 25px;
        float: right;
    }

    .from-them {
        position: relative;
        padding: 10px 20px;
        background: #E5E5EA;
        border-radius: 25px;
        color: black;
        float: left;
    }

    .break-text {
        word-wrap: break-word;
    }

</style>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {% include "parts/nav_bar.html" %}
    {% include "parts/sendbox.html" %}
    <main class="mdl-layout__content">
        <div class="container  break-text" id="display" style="margin-bottom: 150px;"></div>
    </main>
</div>
</body>
<script>
    let ws = new WebSocket('ws://' + document.domain + ':' + location.port + '/ws');

    function sendMessage(msg){
        let sendStr = {
            from : `{{ from_user|string}}`,
            to : `{{ to_user|string}}`,
            message : msg
        };
        ws.send(JSON.stringify(sendStr))
    }


    $("#sendBtn").click(function () {
        var text = $("#text-input").val();
        let modifiedText = "";
        let j = 0;
        sendMessage(text);
        for(let i = 1; i<=text.length;i++){
            modifiedText += text[i-1];
            j++;
            if(j*12 > $(window).width()*0.95){
                modifiedText += "<br>";
                j = 0;
            }
        }
        $("#display").append(
            `
            <div class="d-flex flex-row-reverse bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    <div class="from-me">
                        ${modifiedText}
                    </div>
                </div>
            </div>
            `
        )
        $("#text-input").val("")
    });

    ws.onmessage = function (event) {
        console.log("Get");
        let modifiedText = "";
        let j = 0;
         for(let i = 1; i<=event.data.length;i++){
            modifiedText += event.data[i-1];
            j++;
            if(j*12 > $(window).width()*0.95){
                modifiedText += "<br>";
                j = 0;
            }
        }
        $("#display").append(
                `
                <div class="d-flex flex-row bd-highlight">
                    <div class="p-2 bd-highlight">
                        <div class="from-them">
                        ${modifiedText}
                    </div>
                </div>
            </div>
            `
        )
    };

</script>
</html>