<!DOCTYPE html>
<html lang="en">
{% include "parts/head.html" %}
<style>
    .round-img {
        border-radius: 100%;
        float: left;
    }


</style>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {% include "parts/nav_bar.html" %}
    <main class="mdl-layout__content">
        {% for c in chatroom %}
            <form action="/chatroom">
            {% if current_user == c.room_owner %}
                <input hidden class="form-control" name="from_user" value="{{ c.room_owner }}">
                <input id="to" hidden class="form-control" name="to_user" value="{{ c.friend }}">
                <input hidden class="form-control" name="room_id" value="{{ c.room_id }}">
                {% else %}
                <input hidden class="form-control" name="from_user" value="{{ c.friend }}">
                <input hidden class="form-control" name="to_user" value="{{ c.room_owner }}">
                <input hidden class="form-control" name="room_id" value="{{ c.room_id }}">
            {% endif %}
                <div class="card bg-info" style="margin-top: 20px;margin-bottom: 20px">
                    <div class="card-body">
                        <div class="author">
                            <img src="https://d235zo2kjgm9jl.cloudfront.net/original/1X/ed147b66d73586db081398dfd353929a9fa3899b.jpg"
                                 alt="..." class="avatar img-raised">
                            {% if current_user == c.room_owner %}
                            <span>{{ c.friend }}</span>
                                {% else %}
                                <span>{{ c.room_owner }}</span>
                            {% endif %}
                            <span class="badge badge-danger">{{ c["number_unread"] }}</span>
                        </div>
                        <h6><span class="tim-note">{{ c["last_message"] }}</span></h6>
                    </div>
                </div>
            </form>
        {% endfor %}
    </main>
</div>
<script>
    $(document).on("click touchstart", ".card", function () {
        $(this).parent().submit();
    });
</script>
</body>
</html>