<!DOCTYPE html>
<html lang="en">
{% include "parts/head.html" %}
<body>
<style>
    .center {
        left: 5%;
        width: 90%;
        height: 50%;
        top: 25%;
        position: absolute;
        text-align: center;
    }
</style>

<div class="center">
    <form action="/home">
        <div class="card card-nav-tabs text-center">
            <div class="card-header card-header-primary">
                Login
            </div>
            <div class="card-body">
                <div id="warning"></div>
                <div class="form-group">
                    <input id="user_id" class="form-control" aria-describedby="emailHelp"
                           name="current_user" placeholder="User name">
                </div>
                <div class="form-group">
                    <input id="password" type="password" class="form-control" placeholder="Password">
                </div>
                <div class="row">
                    <div class="col-6">
                        <button type="button" id="login" class="btn btn-primary btn-round">
                            <i class="material-icons">account_circle</i>
                            Login
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="button" disabled id="sign-up" class="btn btn-primary btn-round">
                            <i class="material-icons">account_circle</i>
                            sign up
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $("#login").click(function () {
        let user_id = $("#user_id").val();
        let password = $("#password").val();
        $("#warning").html("");
        $.getJSON(`/check_login?user_id=${user_id}&password=${password}`, function (data) {
            if (data['success'] === false && data["message"] === "password") {
                $("#warning").html(`
                <div id="warning" class="alert alert-danger" role="alert">Wrong password</div>
                `);
            } else if (data['success'] === false && data["message"] === "user_id") {
                $("#sign-up").removeAttr("disabled");
                $("#warning").html(`
                <div id="warning" class="alert alert-danger" role="alert">Wrong Username</div>
                `);
            } else {
                $("form").submit();
            }
        })

    });

    $("#sign-up").click(function () {
        let user_id = $("#user_id").val();
        let password = $("#password").val();
        $("#warning").html("");
        $.getJSON(`/sign_up?user_id=${user_id}&password=${password}`, function (data) {
            if (data["success"] === true) {
                $("form").submit();
            } else {
                $("#warning").html(`
                <div id="warning" class="alert alert-danger" role="alert">${data["message"]}</div>
                `);
            }
        })
    })
</script>
</body>
</html>