<script>
    $(function () {
        let ws = new WebSocket(`ws://${document.domain}:${location.port}/search`);
        let data = [];
        let config = {
            autoOpen: false,
            dialogClass: "mdl-dialog",
            show: {
                effect: 'fade',
                duration: 200
            },
            hide: {
                effect: 'fade',
                duration: 200
            },
            width: "auto",
            height: "auto",
            responsive: true

        };
        var dialog = $("#dialog").dialog(config);
        $('.ui-dialog-titlebar').hide();
        $(document).on('click', '#newMessage', function () {
            dialog.dialog("open");
        });
        $(document).on('click', '.close', function () {
            dialog.dialog("close");
        });
        $(document).on("input", "#user_id", function () {
            ws.send($(this).val())
        });

        $("#search").click(function () {
            console.log(data.length);
            if (data.length === 0) {
                $("#result").html("No user");
            } else {
                $.getJSON(`/add?from_user={{ current_user }}&to_user=${data[0]["user_id"]}`, async function (data) {
                    await data;
                });
                ws.close();
                location.reload();
            }
        });

        ws.onmessage = function (event) {
            let html = "";
            data = $.parseJSON(event.data);
            for (let i = 0; i < data.length; i++) {
                html += `
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">person</i>
                            ${data[i]['user_id']}
                        </span>
                    </li>
                `
            }
            $("#result").html(html);
        }

    });

</script>
<div id="dialog">
        <h5 class="mdl-dialog__title">Search Friend</h5>
        <input hidden class="form-control" name="from_user" value="{{ current_user }}">
        <div class="mdl-dialog__content">
            <div class="form-group">
                <label for="user_id" class="bmd-label-floating">Friends name</label>
                <input type="text" class="form-control" id="user_id">
            </div>
            <ul id="result" class="mdl-list"></ul>
        </div>
        <div class="mdl-dialog__actions">
            <button id="search" type="button" class="mdl-button">add</button>
            <button class="mdl-button close" type="button">Cancel</button>
        </div>
</div>
