<div class="fixed-bottom row" style="margin-bottom: 0px">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group form-file-upload form-file-multiple">
                                <div class="input-group">
                                    <input id="text-input" type="text" class="form-control"
                                           placeholder="Enter text">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-fab btn-round btn-primary" id="sendBtn">
                                            <i class="material-icons">
                                                send
                                            </i>
                                        </button>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>